html { background: #A7977E url({STYLEIMGDIR}/bg_repeat.jpg); }
.shadowline { border-top-color: #D9D3C8; border-bottom-color: #F5F2E9; }
	.side .shadowline { margin: 5px 1px; }

.wrap, #nav, .ad_text, #footer { margin: 0 auto 0 112px; }
#header { margin-bottom: 0; }
	#header .wrap { background: url({STYLEIMGDIR}/logo.jpg) no-repeat -112px 0; }
	#header h2 a { outline: none; display: block; width: 280px; height: 140px; text-indent: -9999px; }
		* html #header h2 a { overflow: hidden; }
#menu { bottom: -1px; }
	#menu a { border: none; }
		#menu a:hover { background-color: transparent; }
	#menu li.current a { font-weight: 700; background-color: transparent; }
#nav { background: #6D1515 url({STYLEIMGDIR}/bg_nav.jpg) repeat-x; }
#style_switch { right: 15px; }

#wrap { padding-bottom: 0; background-color: #F1EDE8; }
.list { border-top-color: #A69D82; }
	.list th { background-image: url({STYLEIMGDIR}/forum.gif); }
	.list th.new { background-image: url({STYLEIMGDIR}/forum_new.gif); }
.content { background: url({STYLEIMGDIR}/bg_main.jpg); }
	.content .list h3 { background: url({STYLEIMGDIR}/bg_title.jpg); }
.with_side .content, #member .content { min-height: 450px; }
	* html .with_side .content, * html #member .content { height: 450px; overflow: visible; }

.viewthread td.postcontent { background: #FFF url({STYLEIMGDIR}/bg_main.jpg) repeat -170px 0; }
.postinfo strong a { border-color: #F1EDE8 !important; }
	.postinfo strong a:hover { border-color: #6D1515 !important; }
.attach_popup { border: none !important; }

#footer .wrap { margin-left: 0; }
#rightinfo { padding-left: 80px; background: url({STYLEIMGDIR}/bg_footer.jpg) no-repeat 0 5px; }

#ann dt { background-image: url({STYLEIMGDIR}/ann_icon.gif) !important; }
.postbtn, .replybtn { width: 55px !important; height: 25px !important; line-height: 25px !important; background-image: url({STYLEIMGDIR}/bg_menu.jpg) !important; }

.c_header h3, .closenode .c_header_ctrlbtn { background-color: #F1EDE8; }
#calendar { border-color: #A69D82 !important; }

.ad_text { border-bottom: 1px solid #D2CBB6; background-image: url({STYLEIMGDIR}/bg_main.jpg); }
.ad_footerbanner { margin: 5px auto 5px 112px; width: 82%; }

/* css_script */
#search #wrap { padding-bottom: 5px; background-image: url({STYLEIMGDIR}/bg_main.jpg); }
.searchform { border-top-color: #F1EDE8 !important; }