{subtemplate common/header}
<div id="pt" class="wp"><a href="forum.php">$_G['setting']['bbname']</a> &rsaquo; {lang group_expiry}</div>
<div id="ct" class="wp cl">
	<div class="mn">
		<div class="ch">
			<label>{lang group_expiry}</></label>
		</div>
		<div class="bm">
			<div class="xg2">{lang group_expiry_comment}</div>
		</div>
		<div class="tl bm">
			<table cellspacing="0" cellpadding="0">
				<tbody class="th">
					<tr>
						<td width="5"></td>
						<td>{lang usergroup}</td>
						<td>{lang group_expiry_time}</td>
						<td>{lang group_expiry_type}</td>
					</tr>
				</tbody>
				<tbody>
					<!--{loop $expirylist $group}-->
						<tr class="{echo swapclass('colplural')}">
							<td></td>
							<td>$group[grouptitle]</td>
							<td>$group[time]</td>
							<td ><!--{if $group['type'] == 'main'}-->{lang group_expiry_type_main}<!--{else}-->{lang group_expiry_type_ext}<!--{/if}--></td>
						</tr>
					<!--{/loop}-->
				</tbody>
			</table>
		</div>
	</div>
	<div class="sd phh">
		{subtemplate common/userabout}
	</div>
</div>

{subtemplate common/footer}