{template common/header}
<!--{if empty($_G['gp_infloat'])}-->
<div id="pt" class="wp"><a href="index.php" class="nvhm">$_G[setting][bbname]</a> &rsaquo; $navigation</div>
<div id="ct" class="wp cl">
	<div class="mn">
<!--{/if}-->

<div class="f_c" id="open_invitesend">
	<h3 class="flb">
		<em id="return_invitesend">{lang emailinvite}</em>
		<span>
			<!--{if !empty($_G['gp_infloat'])}--><a href="javascript:;" class="flbc" onclick="hideWindow('invitesend')" title="{lang close}">{lang close}</a><!--{/if}-->
		</span>
	</h3>
	<form id="sendform" method="post" autocomplete="off" action="forum.php?mod=invite&action=sendinvite&sendsubmit=yes&infloat=yes" onsubmit="ajaxpost('sendform', 'return_invitesend', 'return_invitesend', 'onerror');return false;">
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<input type="hidden" name="invitecode" value="$invitecode" />
		<!--{if !empty($_G['gp_infloat'])}--><input type="hidden" name="handlekey" value="$_G['gp_handlekey']" /><!--{/if}-->
		<div class="postbox">
			<p><label for="fromname">{lang emailfriend_your_name}</label></p>
			<p><input type="text" name="fromname" id="fromname" size="25" maxlength="40" value="{$_G[member][username]}" class="txt" /></p>
			<p><label for="fromemail">{lang emailfriend_your_email}</label></p>
			<p><input type="text" name="fromemail" id="fromemail" size="25" value="$email" class="txt" /></p>
			<p><label for="sendtoname">{lang emailfriend_receiver_name}</label></p>
			<p><input type="text" name="sendtoname" id="sendtoname" size="25" class="txt" /></p>
			<p><label for="sendtoemail">{lang emailfriend_receiver_email}</label></p>
			<p><input type="text" name="sendtoemail" id="sendtoemail" size="25" class="txt" /></p>
			<p><label for="message">{lang message}</label></p>
			<p><textarea cols="70" rows="8" name="message" id="message" class="txtarea" style="margin-bottom: 5px; width: 202px; height: 60px;">{lang emailinvite_message}</textarea></p>
			<p><button type="submit" class="submit" name="sendsubmit" value="sendsubmit">{lang send}</button></p>
		</div>
	</form>
</div>

<script type="text/javascript" reload="1">
function succeedhandle_invitesend(locationhref, msg) {
	showDialog(msg, 'notice', '', function () { location.href = locationhref; });
	hideWindow('invitesend');
}
</script>

<!--{if empty($_G['gp_infloat'])}-->
	</div>
</div>
<!--{/if}-->
{template common/footer}