<h1>{lang mod_option_subject_report}</h1>
<div class="datalist">
	<!--{if $modforums[list]}-->
		<form method="post" autocomplete="off" action="{$cpscript}?mod=modcp&action=$_G[gp_action]&op=$op">
			<input type="hidden" name="formhash" value="{FORMHASH}">
			<div class="filterform">
				<select name="fid" class="ps" onchange="this.form.submit();">
					<option value=""></option>
					<!--{loop $modforums[list] $id $name}-->
						<!--{if $reportnums[$id]}-->
							<option value="$id" {if $id == $_G[fid]}selected{/if}>$name	($reportnums[$id])</option>
						<!--{/if}-->
					<!--{/loop}-->
				</select>
				&nbsp;&nbsp; {lang reportpost_forums}
			</div>
		</form>
	<!--{else}-->
		<p>{lang mod_message_moderate_nopermission}</p>
	<!--{/if}-->

	<!--{if !empty($reportlist)}-->
		<!--{if $reportlist[data]}-->
			<form id="reportform" method="post" autocomplete="off" action="{$cpscript}?mod=modcp&action=$_G[gp_action]">
				<input type="hidden" name="formhash" value="{FORMHASH}" />
				<input type="hidden" name="op" value="" id="operation" />
				<input type="hidden" name="page" value="$page" />
				<input type="hidden" name="fid" value="$_G[fid]" />
				<input type="hidden" name="deletesubmit" value="yes" />
				<table cellspacing="0" cellpadding="0" class="datatable">
					<!--{loop $reportlist[data] $report}-->
						<tr>
							<td>
								<b><a href="home.php?mod=space&uid=$report[uid]" target="_blank">$report[username]</a> <!--{if $report[type]}-->{lang reportpost_recommend}<!--{else}-->{lang reportpost_delate}<!--{/if}--></b> <span class="lighttxt">$report[dateline]</span><br />
								$report[reason]<br />
								{lang author}: <!--{if $report[author]}--><a href="home.php?mod=space&uid=$report[authorid]" target="_blank">$report[author]</a> <a href="home.php?mod=spacecp&ac=pm&op=showmsg&handlekey=showmsg_$report[authorid]&touid=$report[authorid]&pmid=0&daterange=2" onclick="showWindow('sendpm', this.href)">[{lang send_pm}]</a><!--{else}-->{lang guest}<!--{/if}--><br />
								{lang content}: <a href="forum.php?mod=redirect&goto=findpost&pid=$report[pid]&ptid=$report[tid]" target="_blank">$report[subject]</a><br />$report[message]<br />
							</td>
							<td width="80" align="right" valign="top">
								<a href="home.php?mod=spacecp&ac=pm&op=showmsg&handlekey=showmsg_$report[uid]&touid=$report[uid]&pmid=0&daterange=2" onclick="showWindow('sendpm', this.href)">{lang reportpost_sendpm}</a>&nbsp; - &nbsp;<input type="checkbox" name="ids[]" value="$report[id]" class="pc" />
							</td>
						</tr>
					<!--{/loop}-->
				</table>
				<div class="pages_btns">
					<div class="right">
						<input class="pc" type="checkbox" id="chkall" name="chkall" onclick="checkall(this.form)" /> <label for="chkall">{lang checkall}</label> <span>|</span> <a href="javascript:;" onclick="$('operation').value='delete';$('reportform').submit();return false;">{lang reportpost_delete}</a>
					</div>
					<!--{if !empty($reportlist[pagelink])}-->$reportlist[pagelink]<!--{/if}-->
				</div>
			</form>
		<!--{else}-->
				<p>{lang search_nomatch}</p>
		<!--{/if}-->
	<!--{/if}-->
</div>

<!--{if !empty($logids)}-->
	<div class="notice">{lang mod_message_report_del}</div>
<!--{/if}-->