{eval
	$_G['home_tpl_spacemenus'][] = "<a href=\"home.php?mod=space&uid=$space[uid]&do=thread&view=me\">{lang home_they_posts}</a>";
	$_G['home_tpl_spacemenus'][] = "<a href=\"forum.php?mod=viewthread&tid=$_G[tid]&from=home\">{lang home_view_posts}</a>";
	$specialarr = array(0 => array('thread', '{lang posts}'), 1 => array('poll', '{lang thread_poll}'), 2 => array('trade', '{lang thread_trade}'), 3 => array('reward', '{lang thread_reward}'), 4 => array('activity', '{lang thread_activity}'), 5 => array('debate', '{lang thread_debate}'));
	$specialtype = $specialarr[$_G['forum_thread']['special']];
	$_G[home_tpl_titles][] = $navsubject;
	$_G[home_tpl_titles][] = $specialtype[1];
	$_G[home_tpl_titles][] = '{lang space_short}';
	$navtitle = '';
}
{subtemplate common/header}

<script type="text/javascript">var fid = parseInt('$_G[fid]'), tid = parseInt('$_G[tid]');</script>
<!--{if $_G['forum']['ismoderator']}-->
	<script type="text/javascript" src="{$_G['setting']['jspath']}forum_moderate.js?{VERHASH}"></script>
	<form method="post" autocomplete="off" name="modactions" id="modactions">
	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<input type="hidden" name="optgroup" />
	<input type="hidden" name="operation" />
	<input type="hidden" name="listextra" value="$_G[gp_extra]" />
	</form>
<!--{/if}-->

<script type="text/javascript" src="{$_G['setting']['jspath']}forum_viewthread.js?{VERHASH}"></script>
<script type="text/javascript">zoomstatus = parseInt($_G['setting']['zoomstatus']);var imagemaxwidth = '{IMAGEMAXWIDTH}';var aimgcount = new Array();</script>

<div id="pt" class="wp">
	<a href="index.php" id="fjump"{if $_G['setting']['forumjump'] == 1} class="dropmenu" onmouseover="showMenu({'ctrlid':this.id})"{/if} class="nvhm">$_G[setting][bbname]</a> $navigation &rsaquo; <a href="home.php?mod=space&do=$specialtype[0]">$specialtype[1]</a> &rsaquo; {lang user_threads}
</div>

<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<div id="ct" class="wp cl">
	<div class="mn">
		<div class="ch">
			<label class="wx home"><a href="$_G[setting][navs][4][filename]">$_G[setting][navs][4][navname]</a></label>
		</div>
		<div class="bm pl">
		<!--{if $space[self]}-->
			<h1 class="mt"><img alt="blog" src="{STATICURL}image/feed/blog.gif" class="vm" /> {lang blog}</h1>
			<ul class="tb cl">
				<li$actives[we]><a href="home.php?mod=space&uid=$space[uid]&do=blog&view=we">{lang friend_blog}</a></li>
				<li$actives[me]><a href="home.php?mod=space&uid=$space[uid]&do=blog&view=me">{lang my_blog}</a></li>
				<li$actives[all]><a href="home.php?mod=space&uid=$space[uid]&do=blog&view=all">{lang view_all}</a></li>
				<li class="o"><a href="home.php?mod=spacecp&ac=blog">{lang post_new_blog}</a></li>
			<!--{if $_G[referer]}-->
				<li class="y"><a href="$_G[referer]">&laquo; {lang previous_page}</a></li>
			<!--{/if}-->
			</ul>
		<!--{else}-->
			<!--{template home/space_menu}-->
		<!--{/if}-->
		
			<div class="vw mtm mbm">
				<div class="h pbm bbs">
					<h1 class="ph">$_G[forum_thread][subject]</h1>
					<p class="xg2">
						<span class="xg1">{lang home_view_num}: $_G[forum_thread][views]</span><span class="pipe">|</span>
						<span class="xg1">{lang home_reply_num}: $_G[forum_thread][replies]</span><span class="pipe">|</span>
						<span class="xg1"><!--{date($_G[forum_thread][dateline])}--></span>
						<!--{if $_G['group']['raterange'] && $post['authorid']}-->
						<span class="pipe">|</span><a href="javascript:;" onclick="showWindow('rate', 'forum.php?mod=misc&action=rate&amp;tid=$_G[tid]&amp;pid=$post[pid]{if $_G[gp_from]}&from=$_G[gp_from]{/if}');return false;" class="xg1">{lang rate}</a>
						<!--{/if}-->
						<!--{if (($_G['forum']['ismoderator'] && $_G['group']['alloweditpost'] && (!in_array($post['adminid'], array(1, 2, 3)) || $_G['adminid'] < $post['adminid'])) || ($_G['forum']['alloweditpost'] && $_G['uid'] && $post['authorid'] == $_G['uid']))}-->
						<span class="pipe">|</span><a href="forum.php?mod=post&action=edit&amp;fid=$_G[fid]&amp;tid=$_G[tid]&amp;pid=$post[pid]{if !empty($_G[gp_modthreadkey])}&amp;modthreadkey=$_G[gp_modthreadkey]{/if}&amp;page=$page{if $_G[gp_from]}&from=$_G[gp_from]{/if}" class="xg1"><!--{if $_G['forum_thread']['special'] == 2 && !$post['message']}-->{lang post_add_aboutcounter}<!--{else}-->{lang edit}</a><!--{/if}-->
						<!--{/if}-->
					</p>
				</div>

				<div id="blog_article" class="mtw d cl">
					{subtemplate forum/viewthread_node_body}
				</div>
				<!--{if !empty($aimgs[$post[pid]])}-->
				<script type="text/javascript" reload="1">aimgcount[{$post[pid]}] = [{echo implode(',', $aimgs[$post[pid]]);}];attachimgshow($post[pid]);</script>
				<!--{/if}-->

				<div id="div_main_content" class="mtm mbm">
					<h3 class="bbs pbn">
						<!--{if !empty($postlist)}-->
						<a href="#f_pst" class="y xi2 xw0">{lang home_publish_comment}</a>
						<!--{/if}-->
						{lang home_comment} (<span id="comment_replynum">$_G[forum_thread][replies]</span> {lang reply})
					</h3>
					<!--{loop $postlist $postid $post}-->
						<!--{if $postid && !$post['first']}-->
						<div id="post_$post[pid]" class="xld xlda">
							{subtemplate forum/viewthread_from_node}
						</div>
						<!--{/if}-->
					<!--{/loop}-->
					<div id="postlistreply" class="xld xlda mbm"><div id="post_new" class="viewthread_table" style="display: none"></div></div>
					<!--{if $multipage}-->
					<div class="pgs cl">$multipage</div>
					<!--{/if}-->

					<!--{if $_G['setting']['fastpost'] && $allowpostreply && !$_G['forum_thread']['archiveid']}-->
						{subtemplate forum/viewthread_fastpost}
					<!--{/if}-->
				</div>
			</div>
		</div>
	</div>

	<div class="sd">
		{subtemplate common/userabout}
		{hook/viewthread_side_bottom}
		<div class="drag">
			<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
		</div>
	</div>
</div>

$_G['forum_tagscript']

<!--{if $relatedthreadlist && $_G['setting']['qihoo']['relate']['position']}-->
	{template forum/viewthread_relatedthread}
<!--{/if}-->

{hook/viewthread_bottom}

<!--{if $_G['setting']['visitedforums']}-->
	<ul class="p_pop" id="visitedforums_menu" style="display: none; width: 120px;">
	$_G['setting']['visitedforums']
	</ul>
<!--{/if}-->

<!--{if $_G['setting']['forumjump']}-->
	<div class="p_pop" id="fjump_menu" style="display: none">
	$forummenu
	</div>
<!--{/if}-->

</div>

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

{subtemplate common/footer}