
#wrap_append { zoom: 1; min-width: {WRAPWIDTH}; background: url({STYLEIMGDIR}/bg_top.gif) repeat-x 0 0; }
#header { height: 134px; border: none; }
	#header .wrap { padding: 26px 0; }
	#menu a { border: none; }
		#menu li.current a { border: solid {HEADERBORDERCOLOR}; border-width: 1px 1px 0; }
#nav { margin-top: -45px; w\idth: 958px; border: solid #9C1203; border-width: 1px 1px 0; background: #430000 url({STYLEIMGDIR}/nav.gif) no-repeat 0 0; text-indent: 15px; }
	#nav, #nav a { color: #C60; }
#style_switch { right: 10px; }
#ad_text { background: #CC6601; }
.list { border-top: none; margin-bottom: 20px; }
	.list td, .list th { border-top-style: solid; }
	.list h3 { font-size: 1.17em; }
		.list h3 a { color: #900; }
	.list th { background-image: url({STYLEIMGDIR}/forum.gif); }
		.list th.new { background-image: url({STYLEIMGDIR}/forum_new.gif); }
	.list .forumnums em { color: #900; }
.shadowline { border-top-color: {COMMONBORDER}; border-bottom-color: #FFF; }
.side .shadowline { border-top-color: #624524; border-bottom-color: #7F5E3A; }
.side, .with_side .side a, .side .textinfolist li a { color: #E1C588; }
.sidebox h4, .with_side .side h4 a { color: #FC0; }
.side a.tagl1, .side a.tagl2 { color:#E1C588 !important; }
.special .side, .special .side a { color: {HIGHLIGHTLINK}; }
.ad_footerbanner { margin: 0 auto; }
#footer { padding-top: 0; }
#footer .wrap { background: #120406 url({STYLEIMGDIR}/footer.gif) repeat-y 0 0; }
	#rightinfo, #footlink { padding: 10px; height: 60px; he\ight: 40px; }
		#rightinfo { background: url({STYLEIMGDIR}/footer-c-b-l.gif) no-repeat 0 100%; }
		#footlink { background: url({STYLEIMGDIR}/footer-c-b-r.gif) no-repeat 100% 100%; }