{subtemplate common/header}
<div id="pt" class="wp">
	<a href="index.php" class="nvhm">$_G[setting][bbname]</a> &rsaquo; $topic[title]
</div>
<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}topic/t1/style.css?{VERHASH}">
<style id="diy_style" type="text/css"></style>
<div id="widgets">
</div>
<div class="wp">
<!--[diy=diypage]-->
<div id="diypage" class="area">
	<div id="frame1" class="frame move-span frame-1 cl">
		<div id="frame1_edit" class="hide edit">frame1{lang edit}</div>
		<div class="frame-title title" id="frame1"><span class="titletext">1{lang frame}</span></div>
		<div id="frame1_left" class="column col-c"></div>
	</div>
</div>
<!--[/diy]-->
</div>

{subtemplate common/footer}