* { word-break: break-all; }
body { overflow-x: hidden; background: #FFF; }
body, td, input, textarea, select, button { color: #333333; font: 12px "Î¢ÈíÑÅºÚ", "ËÎÌå", Trebuchet MS, Helvetica, Arial, sans-serif; }
body, ul, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0; padding: 0; }
.mn { width: 760px; margin-left: 215px; }
.mn table { width: 700px; word-wrap: break-word; }
.sd { padding:1px; text-align: left; width: 210px; border: 1px solid #B4C9E0; left: 10px; top: 60px; position: fixed; }
* html .sd { position: absolute; top: expression(offsetParent.scrollTop+60);}
.sd a { margin-left: 10px; }
h1 { font-size: 2em; }
h2, h3, h4, h5, h6 { font-size: 1em; }
ul { color: #666666; margin-left: 12px; padding-bottom: 14px; }
li { margin-left: 22px; line-height: 1.8em; }
table { text-align: left; }
.code { background: #EFEFEF; border: 1px solid #CCCCCC; }
.subtitle { font-size: 14px; font-weight: bold; color: #000000; padding: 5px 0; }
p { padding: 10px 0px; }
a { color: #006699; text-decoration: none; }
	a:hover { text-decoration: underline; }
	a img { border: none; }
table { empty-cells: show; border-collapse: collapse; }

.mainbox { border: 1px solid #B4C9E0; padding: 1px 1px 5px; margin-bottom: 10px;  width: 96%; margin: 0 auto;}

.mainbox td.title, .sd .title { line-height: 21px; padding: 5px; padding-left: 1em; background: #3FA6CF url(forumbox_head.gif) repeat-x 0 0; color: #FFF;}
	.title a { color: #FFF; }
.mainbox table { width: 100%; }
	.mainbox td { border-bottom: 1px solid #E8EDF2; padding: 5px 10px; }

#footer { border-top: 1px solid #B4C9E0; background: #EEF5FD; color: #666; padding: 2px 12px; }
	#copyright{ font: 1em Verdana,	 Arial, Helvetica, sans-serif; line-height: 1.5em; }
		#copyright a { color: #0954A6; }
#header { margin-top: 10px; width: 100%; overflow: hidden; margin-left: 20px; height: 50px; }
	#header span { font-size:16px; font-weight: normal; }

div.code { width: 100% !important; overflow-y: hidden; overflow-x:auto !important; }
pre {
	padding-left: 10px;
	font-family: "Î¢ÈíÑÅºÚ", "ËÎÌå", Courier, Courier New; font-weight: normal; color:#000000; 	
}