/* ----------------------------------

CSS file for SNS mode template
(C) Comsenz Inc.
http://www.comsenz.com
Created & Modified by Lushnis

---------------------------------- */
body { background-image: none; }
.a_mu { border: none; }
#hd {}
	#hd .wp { padding: 0; background: url({STYLEIMGDIR}/menu.png) no-repeat 0 100%; }
	.hdc { border-bottom: none; background: url({STYLEIMGDIR}/nav.png) repeat-x 0 0; }
	#hd h2 { margin-top: 0; padding: 0; }
		#hd h2 a { display: block; width: 150px; height: 42px; overflow: hidden; }

	#nv li { padding: 0 20px; height: 42px; border: none; background: url({STYLEIMGDIR}/nav-item.png) no-repeat 0 0; line-height: 42px; }
		#nv li.menu_1 { background-image: none; }
	#nv li span { display: none; }

	#sc { width: 239px; height: 42px; border: none; background-image: url({STYLEIMGDIR}/search.png); }
		#sctype { line-height: 42px; margin-right: 5px; }
		#sc .px { margin-top: 14px; width: 130px; }
		#sc button { margin: 5px 15px 0 0; }

	#mu { background: transparent none !important; }
		#mu a { color: #333; background: none !important; }
#ct { border-width: 0 0 1px; background: url({STYLEIMGDIR}/bg.png) repeat-y -970px 0; }
.mn { float: right; padding-top: 1px; width: 819px; background: url({STYLEIMGDIR}/bg.png) no-repeat -151px 0; }
	.mn .frame-3-1 { background: url({IMGDIR}/vline.png) repeat-y 645px 0; }
		.mn .frame-3-1 .col-r { width: 175px; }
		.mn .frame-3-1 .col-l { width: 644px; }
	.mn .lk .m li { width: 280px; }
.sd { float: left; width: 151px; background: url({STYLEIMGDIR}/bg.png) no-repeat 0 0; }
	.sd .tns, .sd hr, .sd .bn, .sd .drag { display: none; }
	.sd #pcd { display: block !important; }
	.bn h2 { font-size: 12px; }

#space .mn { float: left !important; }
#space .sd { float: right !important; width: 178px; }
#space #hd h2 a { width: auto; height: auto; }

.ch { display: none; }

#ppc_menu { width: auto; }
	#ppc_menu hr { display: block; }
.appl li { float: none; width: 99%; font-size: 14px; }

.mi { margin-right: 0 !important; /*-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;*/ }
/*
#ft { background: url({STYLEIMGDIR}/bg.png) no-repeat 100% 0; }
	#space #ft { background-image: none; }
*/

.mlnv li { float: left; padding-top: 10px !important; width: 14%; text-align: center; overflow: hidden; }
	.mlnv img { padding: 2px; width: 90px; height: 90px; background }
	.mlnv button { margin-top: 30px; }

#fh { width: 818px !important; }
	#fh.m img { width: 100% !important; }
	#fh.m .fct img { width: auto !important; }

#nv_portal.pg_index .sd { display: none; }

.fl, .fl .h, .fl .o, .fl .h h2, .fl .c { background-image: none !important; }
	.fl .h { border-top: 3px solid {COMMONBORDER}; }
	 .fl .h,  .fl .h a { color: {TABLETEXT} !important; }
	.fl .o { padding: 7px 5px 0 0; }