<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="data/cache/style_{$_GET[styleid]}_common.css?{VERHASH}" />
<style type="text/css">
.wp { width: 550px }
#ct, .mn { background-image: url({$_G['style'][styleimgdir]}/preview_bg.png); }
#mu { display: none; }
#ct { margin-bottom: -5px; background-position: -550px 0; height: auto; min-height: 0; }
	.mn { margin-bottom: 0; width: 399px; }
		.mn .frame-3-1 { background-position: 224px 0; }
			.mn .frame-3-1 .col-l { width: 224px; }
	.sd { height: auto; min-height: 0; }
	.bm, .bn { padding: 10px; }
	.premsg { padding: 5px; background-color: {$_G['style'][commonbg]}; }
	.tb { margin-top: 0; }
	.dt { border-top: none; }
#ft { padding: 10px 0; text-align: center; }
</style>
</head>
<body>

<div id="hd">
	<div class="wp">
		<div class="hdc cl">
			<h2>{$_G['style'][boardlogo]}</h2>
			<div id="nv">
				<ul>
					<li><a href="#">$_G['setting']['navs'][1]['navname']<span>Home</span></a></li>
					<li><a href="#">$_G['setting']['navs'][2]['navname']<span>BBS</span></a></li>
					<li><a href="#">$_G['setting']['navs'][3]['navname']<span>Group</span></a></li>
					<li><a href="#">$_G['setting']['navs'][4]['navname']<span>Space</span></a></li>
				</ul>
			</div>
		</div>
		<div id="mu"></div>
	</div>
</div>
<div id="um" class="wp">
	<p>
		<strong><a href="#">$_G['member']['username']</a></strong>
		<span class="xg1"><a href="#">{lang setup}</a></span>
		<span class="pipe">|</span><a href="#">{lang pm_center}</a>
	</p>
</div>
<div id="pt" class="wp">
	<a href="#">$_G[setting][bbname]</a>
</div>
<div id="ct" class="wp cl">
	<div class="mn">
		<div class="frame-3-1 cl">
			<div class="col-r">
				<div class="bn">
					<ul class="tb cl">
						<li class="a"><a href="#">{lang preview_navcur}</a></li>
						<li><a href="#">{lang preview_nav}</a></li>
					</ul>
					<input type="text" class="mtm px" size="16" value="{lang preview_inputtext}" />
				</div>
			</div>
			<div class="col-l">
				<div class="bm">
					<div class="premsg mbn">{lang preview_msg}</div>
					<table class="dt">
						<tr>
							<td class="xs0">{lang preview_smalltext}</td>
							<td>{lang preview_text}</td>
						</tr>
						<tr>
							<td class="xg2">{lang preview_midtext}</td>
							<td class="xg1">{lang preview_lighttext}</td>
						</tr>
						<tr class="bbn">
							<td><a href="javascript:;">{lang preview_link}</a></td>
							<td><a href="javascript:;" class="lit">{lang preview_highlightlink}</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="sd">
		<div id="ppc_menu">
			<div class="appl cl">
				<ul>
					<li onmouseout="this.className=''" onmouseover="this.className='hvr'">
						<a href="javascript:;"><img alt="" src="{STATICURL}/image/feed/doing.gif">{lang doing}</a>
						<span><a href="javascript:;">+{lang publish}</a></span>
					</li>
					<li onmouseout="this.className=''" onmouseover="this.className='hvr'">
						<a href="javascript:;"><img alt="" src="{STATICURL}/image/feed/album.gif">{lang album}</a>
						<span><a href="javascript:;">+{lang upload}</a></span>
					</li>
					<li onmouseout="this.className=''" onmouseover="this.className='hvr'">
						<a href="javascript:;"><img alt="" src="{STATICURL}/image/feed/blog.gif">{lang blog}</a>
						<span><a href="javascript:;">+{lang publish}</a></span>
					</li>
					<li onmouseout="this.className=''" onmouseover="this.className='hvr'">
						<a href="javascript:;"><img alt="" src="{STATICURL}/image/feed/share.gif">{lang share}</a>
						<span><a href="javascript:;">+{lang add}</a></span>
					</li>
					<li onmouseout="this.className=''" onmouseover="this.className='hvr'">
						<a href="javascript:;"><img alt="" src="{STATICURL}/image/feed/thread.gif">{lang userabout_thread}</a>
						<span><a href="javascript:;">+{lang add}</a></span>
					</li>
					<li onmouseout="this.className=''" onmouseover="this.className='hvr'">
						<a href="javascript:;"><img alt="" src="{STATICURL}/image/feed/group.gif">{lang group}</a>
						<span><a href="javascript:;">+{lang create}</a></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="ft" class="wp">
	{lang preview_footertext}
</div>

</body>
</html>