{subtemplate common/header}

<div id="pt" class="wp"><a href="forum.php">$_G['setting']['bbname']</a> &rsaquo; {lang search}</div>
<div id="ct" class="wp cl w">
	<div class="wp mw">
			<div class="ch">
				<label class="wx">
					{lang search}
					<!--{if $srchtype == 'threadsort'}-->
						{lang search_info}
					<!--{elseif $srchtype == 'trade'}-->
						{lang search_trade}
					<!--{else}-->
						{lang search_title}
					<!--{/if}-->
				</label>
			</div>
		<div class="tl">
			<div class="bm cl">
				<h2>{lang search_trade}</h2>
				<!--{if !empty($multipage)}-->$multipage<!--{/if}-->
			</div>
			<div class="tl bm">
				<table cellspacing="0" cellpadding="0" width="100%">
				<thead class="th">
					<tr>
						<td colspan="2">{lang my_trade_goods_name}</td>
						<td style="width: 10%"><a href="forum.php?mod=search&searchid=$searchid&srchtype=trade&orderby=price&searchsubmit=yes">{lang post_trade_price}</a></td>
						<td style="width: 10%">{lang post_trade_locus}</td>
						<td style="width: 15%"><a href="forum.php?mod=search&searchid=$searchid&srchtype=trade&orderby=expiration&searchsubmit=yes">{lang trade_remaindays}</a></td>
					</tr>
				</thead>
				<!--{if $tradelist}-->
					<!--{loop $tradelist $key $trade}-->
					<tbody>
					<tr height="90">
						<td width="100" align="center">
						<a href="forum.php?mod=viewthread&do=tradeinfo&tid=$trade[tid]&pid=$trade[pid]" target="_blank"><!--{if $trade['aid']}--><img class="vm" src="forum.php?mod=attachment&aid={echo aidencode($trade[aid]);}&noupdate=yes" onload="thumbImg(this, 1)" width="80" _width="80" _height="80" /><!--{else}--><img class="vm" src="{IMGDIR}/nophotosmall.gif" /><!--{/if}--></a></td>
						<td><a href="forum.php?mod=viewthread&do=tradeinfo&tid=$trade[tid]&pid=$trade[pid]" target="_blank">$trade[subject]</a><br />
						<em class="tips">{lang my_trade_seller}: <a href="home.php?mod=space&$trade[sellerid]/mytrades">$trade[seller]</a></em>
						</td>
						<td><strong><b>$trade[price]</b></strong></td>
						<td>$trade[locus]&nbsp;</td>
						<td>
						<!--{if $trade[closed]}-->
							{lang trade_timeout}
						<!--{elseif $trade[expiration] > 0}-->
							{$trade[expiration]}{lang days}{$trade[expirationhour]}{lang trade_hour}
						<!--{elseif $trade[expiration] == -1}-->
							{lang trade_timeout}
						<!--{/if}-->&nbsp;
						</td>
					</tr>
					</tbody>
					<!--{/loop}-->
				<!--{else}-->
					<tr><td colspan="6">{lang search_nomatch}</td></tr>
				<!--{/if}-->
				</table>
			</div>
			<!--{if !empty($multipage)}--><div class="bm pgs cl">$multipage</div><!--{/if}-->
		</div>
		</div>
	</div>
</div>

{subtemplate common/footer}