#header .wrap { padding: 0; background: url({STYLEIMGDIR}/logo.gif) no-repeat 0 0; }
	#header h2 { height: 157px; }
	#header h2 a { float: left; width: 290px; height: 90px; text-indent: -9999px; overflow: hidden; }
	#menu { height: 87px; bottom: -36px; }
		#menu li, #menu a { height: 87px; border: none; background: url({STYLEIMGDIR}/menu.gif) no-repeat 100% 0; line-height: 35px; color: #FFF; }
			#menu li { margin-left: -10px; padding-left: 42px; background-position: 0 -522px; }
				#menu li.menu_1 { background-position: 0 -87px; }
				#menu li.menu_2 { background-position: 0 -174px; }
				#menu li.menu_4 { background-position: 0 -261px; }
				#menu li.menu_5 { background-position: 0 -348px; }
				#menu li.menu_6 { background-position: 0 -435px; }
			#menu a, #menu li.current a { padding: 0 10px 0 4px; height: 35px; }
				#menu a.dropmenu { background: url({STYLEIMGDIR}/menu.gif) no-repeat 100% -609px; }
				#menu li.current a { font-weight: 700; }
	#style_switch { right: auto; bottom: auto; left: 10px; top: 115px; }
	#tintin_footer { position: absolute; left: 300px; top: 193px; width: 39px; height: 26px; background: url({STYLEIMGDIR}/logo.gif) no-repeat -300px -193px; }
#nav { background: url({STYLEIMGDIR}/logo.gif) no-repeat 0 -157px; }
.content { padding-bottom: 70px; }
.list th { background-image: url({STYLEIMGDIR}/forum.gif); }
	.list th.new { background-image: url({STYLEIMGDIR}/forum_new.gif); }
#footer { padding-top: 0; }
#footer .wrap { padding-top: 15px; height: 100px; background: url({STYLEIMGDIR}/footer.gif) no-repeat 11px -86px; }
	#rightinfo, .ad_footerbanner { padding-left: 140px; }
	#footer_t { position: absolute; float: left; margin-top: -101px; width: 130px; height: 86px; z-index: 1; background: url({STYLEIMGDIR}/footer.gif) no-repeat 11px 0; }
#ad_headerbanner { margin-top: 25px; }
.editor_tb { background-color: #F7F7F7 !important; }