html { background: #F1E0AC url({STYLEIMGDIR}/bg_repeat.jpg) repeat-x 430px 0; }
#header .wrap { padding-bottom: 32px; }
#menu { bottom: 4px; }
#menu a:hover, #menu li.current a { border-color: #04306D !important; background-color: #04306D; }
#nav { padding-bottom: 5px; background: url({STYLEIMGDIR}/icon_nav.gif) no-repeat 0 100%; }

.content { background: #FFF url({STYLEIMGDIR}/bg_wrap.gif) no-repeat; }
.with_side .content { min-height: 410px; background: #FFF url({STYLEIMGDIR}/bg_wrap_top_left.gif) no-repeat; }
	* html .with_side .content { height: 410px; overflow-y: visible; }
.with_side .side h2 { position: relative; margin: -5px 0 10px; padding: 25px 0 0 25px; width: 155px; background: url({STYLEIMGDIR}/bg_side_cor.gif) no-repeat 100% 0; }
#wrap { border-bottom: 1px solid #CEECFB; }

.editor_tb { background-color: #F7F7F7 !important; }
.showmessage { margin-top: 0; }
.searchform { border-top: none !important; }

.ad_text { margin: 0 auto; padding: 0 0 19px; background: url({STYLEIMGDIR}/ad_text.gif) no-repeat 0 100%; }
	.ad_text table { background: #FFF; }
.ad_footerbanner { margin: 0 auto; width: {WRAPWIDTH}; background-color: #FFF; }
#footer { padding-top: 0; padding-bottom: 30px; }
	#footer .wrap { background: #FFF url({STYLEIMGDIR}/bg_wrap_bot.gif) no-repeat 0 100%; }
	#footlink, #rightinfo { padding: 10px 15px; }