	</div>
		
		
	<!--{if $space['self'] && $_GET['op'] == 'diy' }-->
	<script type="text/javascript" src="{$_G[setting][jspath]}home_diy.js?{VERHASH}"></script>
	<script type="text/javascript" src="{$_G[setting][jspath]}space_diy.js?{VERHASH}"></script>
	<!--{/if}-->
		<script type="text/javascript">
		function toggleToolbar(){
			var tb = $('toolbardiv');
			if (tb.style.display == 'none') {
				tb.style.display = 'block';
				$('togglediv').innerHTML = "X";
				$('toolbarroot').style.marginTop = '0px';
			} else {
				tb.style.display = 'none';
				$('togglediv').innerHTML = "O";
				$('toolbarroot').style.marginTop = '-18px';
			}
		}
		<!--{if !empty($_GET['op']) }--> toggleToolbar();<!--{/if}-->
	</script>

	<div id="ft" class="wp">
		footer
	</div>
</body>
</html>
