<!--{eval $_G[home_tpl_titles] = array('{lang group}');}-->
<!--{template common/header}-->
	<h3 class="flb">
		<em id="return_$_G[gp_handlekey]">{lang select_focus_group_category}</em>
		<!--{if $_G[inajax]}--><span><a href="javascript:;" onclick="hideWindow('$_G[gp_handlekey]');" class="flbc" title="{lang close}">{lang close}</a></span><!--{/if}-->
	</h3>
	<form method="post" autocomplete="off" id="attentionform" name="attentionform" action="home.php?mod=spacecp&ac=attentiongroup" onsubmit="ajaxpost('attentionform', 'return_attentiongroup', 'return_attentiongroup', 'onerror');return false;">
		<!--{if $_G[inajax]}--><input type="hidden" name="handlekey" value="$_G[gp_handlekey]" /><!--{/if}-->
		<input type="hidden" name="referer" value="$_G[referer]" />
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<div>
			<ul>
			<!--{loop $usergroups['grouptype'] $group}-->
				<!--{if in_array($group[fid], $attentiongroup)}-->
				<li style="margin:0 0 5px 25px;" id="li$group[fid]"><input type="checkbox" value="$group[fid]" name="attentiontypeid[]" checked onclick="attention_checkbox(this, 'attentionform', 'attentiontypeid', 5)"> $group[name]</li>
				<!--{/if}-->
			<!--{/loop}-->
				<hr id="heightline" class="l" />
			</ul>
			<br>
			<ul>
			<!--{loop $usergroups['grouptype'] $group}-->
				<!--{if !in_array($group[fid], $attentiongroup)}-->
				<li style="margin:0 0 5px 25px;" id="li$group[fid]"><input type="checkbox" value="$group[fid]" name="attentiontypeid[]" onclick="attention_checkbox(this, 'attentionform', 'attentiontypeid', 5)"> $group[name]</li>
				<!--{/if}-->
			<!--{/loop}-->
			<li id="lowerline"></li>
			</ul>
		</div>
		<p class="o pns">
			<input type="hidden" name="attentionsubmit" value="true" />
			<button type="submit" class="pn pnc"><strong>{lang determine}</strong></button>
		</p>
		<script language="javascript">
			var p = $counttype;
			function attention_checkbox(obj, formid, checkname, max_obj) {
				if(obj.checked) {
					p++;
					for (var i = 0; i < $(formid).elements.length; i++) {
						var e = $(formid).elements[i];
						if(p == max_obj+1) {
							if(e.name.match(checkname) && !e.checked) {
								e.disabled = true;
							}
						}
					}
				} else {
					p--;
					for (var i = 0; i < $(formid).elements.length; i++) {
						var e = $(formid).elements[i];
						if(e.name.match(checkname) && e.disabled) {
							e.disabled = false;
						}
					}
				}
				if(p > max_obj) {
					p--;
					obj.checked = false;
					alert('{lang max_can_select}'+max_obj+'{lang unit}.');
					return;
				}
				var oldNode = $('li'+obj.value);
				if(obj.checked) {
					var line = $('heightline');
				} else {
					var line = $('lowerline');
				}
				oldNode.parentNode.removeChild(oldNode);
				line.parentNode.insertBefore(oldNode,line);
			}
		</script>
	</form>
<!--{template common/footer}-->